<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prova GAE Python</title>
</head>
<body>

    <h1>Questa è la pagina FAROO</h1>
    <div>
        <ul>
        {% for item in news %}
            <li>
                <p>{{ item.title }}</p>
                <p>{{ item.kwic|safe }}</p>
                <p>{{ item.url }}</p>
                <p>{{ item.date }}</p>
                <p>{{ item.author }}</p>
                <p>{{ item.domain }}</p>
            </li>
        {% endfor %}
        </ul>

    </div>

    </body>
</html>
{% endautoescape %}