{% extends "base.html" %}

{% block title %}
    <title>News Analyzer - Home</title>
{% endblock %}

{% block js %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}

{% block content %}

    <div class="row">
        <form class="col s12 m10 l8 offset-m1 offset-l2" method="GET">
            {% if url_logout %}
                <div class="input-field col s12 m3">
                    <select id="filters">
                        <option value="" disabled selected>Select a filter</option>
                        {% if filters|length != 0 %}
                            {% for f in filters %}
                                <option value="{{ f.keywords }}">{{ f.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <label for="filters">Materialize Select</label>
                </div>
            {% endif %}
            <div class="input-field col s8 {% if url_logout %} m7 {%else%} m10 {%endif%}">
                <input id="search" type="text" name="search" value="{{ search }}">
                <label for="search">Type your keywords here (eg: "google nexus 2015")</label>
            </div>
            <div class="col s4 m2">
                <button class="btn waves-effect waves-light" type="submit">
                    <i class="material-icons center">search</i>
                </button>
            </div>
        </form>
    </div>


    <div id="newsWall" class="waterfall row" data-autoresize="true" data-col-min-width="300">
        {% if news|length ==0 %}
            <div class="card-panel">
                <h5 class="blue-text text-darken-2 valign">No treding news found. Check back later!</h5>
            </div>
        {% else %}
            {% for n in news %}
                <div class="news s4 m3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <a href="{{ n.url }}" target="_blank">
                                {% if n.iurl != '' %}
                                    {% if n.iurl|ccontains("youtube.com") %}
                                        <div class="video-container">
                                            <iframe src="{{ n.iurl }}" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    {% else %}
                                        <img src="{{ n.iurl }}" onerror="this.onerror=null;this.src='/assets/images/img_not_available.png';">
                                    {% endif %}
                                {% else %}
                                    <img src="/assets/images/img_not_available.png">
                                {% endif %}
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="title">
                                <a href="{{ n.url }}" target="_blank">{{ n.title }}</a>
                            </div>
                            <div class="descr">{{ n.kwic|safe }}</div>
                        </div>
                        <div class="card-action">
                            <p>{{ n.author }} - {{ n.domain }}</p>
                            <p>{{ n.date }}</p>
                        </div>
                        <div class="card-action">
                            <div class="card-footer">
                                {% if url_logout %}
                                    {% if n.favorite is defined %}
                                    <a class="remfav" href="#" data-toggle="{{ n.favorite }}">
                                        <i class="material-icons">grade</i> Remove favorite
                                    </a>
                                    {% else %}
                                    <a class="addfav" href="#">
                                        <i class="material-icons">grade</i> Add favorite
                                    </a>
                                    {% endif %}
                                {% endif %}
                                <a class="right" href="/analyze?url={{ n.url }}">
                                    <i class="material-icons">language</i> Analyze
                                </a>
                                <div class="g-plus" data-action="share" data-href="{{ n.url }}" data-height="24"></div>
                            </div>
                        </div>
                        <form class="hide">
                            <input type="hidden" name="title" value="{{ n.title }}">
                            <input type="hidden" name="kwic" value="{{ n.kwic|safe }}">
                            <input type="hidden" name="url" value="{{ n.url }}">
                            <input type="hidden" name="iurl" value="{{ n.iurl }}">
                            <input type="hidden" name="author" value="{{ n.author }}">
                            <input type="hidden" name="domain" value="{{ n.domain }}">
                            <input type="hidden" name="date" value="{{ n.date }}">
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
    <div id="loading" class="progress row">
        <div class="indeterminate"></div>
    </div>

    <!-- Remove Favorite Confirm Modal -->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <h4 class="deep-orange-text">Delete Favorite</h4>
            <p class="flow-text">You are removing a favorite! You won't be able to undo that.</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat deep-orange-text right" id="agreeRemove">
                Agree
            </a>
            <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat left" id="disagreeRemove">
                Disagree
            </a>
        </div>
    </div>

{% endblock %}

{% block endscript %}

    <!-- Use Waterfall only if there are some news -->
    {% if news|length != 0 %}
        <script type="text/javascript" src="/assets/js/zepto.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.waterfall.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                // sometimes fails if called on ready
                setTimeout(function () {
                    $(".waterfall").waterfall({autoresize: true});
                }, 1500);
            });
        </script>
    {% endif %}

    <script type="text/javascript" src="/assets/js/indexJs.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#loading').hide();
            $('select').material_select();
        });
    </script>
{% endblock %}