<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prova GAE Python</title>
</head>
<body>

    <h1>Questa è la pagina FLICKR</h1>
    <div style="width:80%;">
        <p>Videos: </p>
        {% for video in videos %}
            <div>
                {{ video.title }}<br>
                <iframe id="ytplayer" type="text/html" width="640" height="390"
                        src="http://www.youtube.com/embed/{{ video.id }}?autoplay=0"
                        frameborder="0" />
            </div>
        {% endfor %}
    </div>

    </body>
</html>
{% endautoescape %}